### Vivado ###

# Design sources
**/design_source/**
!**/design_source/**/
!**/design_source/**/*.v
!**/design_source/**/*.bd
!**/design_source/**/*.xci

**/bd/**
!**/bd/**/
!**/bd/**/*.bd

**/rtl/**
!**/rtl/**/
!**/rtl/**/*.v

**/xci/**
!**/xci/**/
!**/xci/**/*.xci

# Constraints
**/constraints/**
!**/constraints/**/
!**/constraints/**/*.xdc

# Simulation sources
**/simulation_source/**
!**/simulation_source/**/
!**/simulation_source/**/*.v
!**/simulation_source/**/*.wcfg

**/wcfg/**
!**/wcfg/**/
!**/wcfg/**/*.wcfg

# .tcl file not need except in IP repo
*.tcl
!**/ip_repo/**/*.tcl

# Platform (hardware) export
**/hardware/**
!**/hardware/**/
!**/hardware/**/*.xsa


### Vitis ###

# Vitis workspace file
.metadata/
RemoteSystemsTempFiles/
*.analytics
IDE.log


### Others ###

# VSCode related
**/.vscode/


### Global whitelist ###

# README files
!**/README.md
